@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot"); /* IE9 Compact Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),    
    url("../fonts/Vazir.ttf") format("truetype"); /* Safari - Android - IOS */
}

body {
    direction: rtl;
    text-align: right !important;
    font-family: "Vazir" !important;
    line-height: 1.6;
}